In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/zoo.csv',
                 encoding='latin1')

df.head()

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    101 non-null    object
 1   hair      101 non-null    int64
 2   feathers  101 non-null    int64
 3   eggs      101 non-null    int64
 4   milk      101 non-null    int64
 5   airborne  101 non-null    int64
 6   aquatic   101 non-null    int64
 7   predator  101 non-null    int64
 8   toothed   101 non-null    int64
 9   backbone  101 non-null    int64
 10  breathes  101 non-null    int64
 11  venomous  101 non-null    int64
 12  fins      101 non-null    int64
 13  legs      101 non-null    int64
 14  tail      101 non-null    int64
 15  domestic  101 non-null    int64
 16  catsize   101 non-null    int64
 17  class     101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [ ]:
# see if there are duplicates
duplicateAnimals = df["animal"].value_counts()
duplicateAnimals = duplicateAnimals[duplicateAnimals > 1]

df[df["animal"].isin(duplicateAnimals.index)]

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class
25,frog,0,0,1,0,0,1,1,1,1,1,0,0,4,0,0,0,5
26,frog,0,0,1,0,0,1,1,1,1,1,1,0,4,0,0,0,5

In [7]:
df.groupby("animal").size().sort_values(ascending=False)

animal
frog        2
pony        1
sealion     1
seal        1
seahorse    1
           ..
gorilla     1
goat        1
gnat        1
girl        1
wren        1
Length: 100, dtype: int64

In [12]:
dfSingle = df.drop_duplicates(subset="animal", keep="first")
dfSingle.groupby("animal").size().sort_values(ascending=False)

animal
aardvark    1
polecat     1
seal        1
seahorse    1
scorpion    1
           ..
goat        1
gnat        1
girl        1
giraffe     1
wren        1
Length: 100, dtype: int64